<%- include('../users/layouts/user-header.ejs') %>
<div style="    margin: 100px 0;">
<h1 class="text-center text-capitalize mt-5">CONGRATULATIONS</h1>
<h1 class="text-center">ORDER PLACED</h1>
<div style="display: flex;  justify-content: center; margin-top: 30px;">
    <a href="/shop" ><button class="btn btn-success " style="margin-right: 5px;">Continue shopping</button>
    </a>
    <a href="/account" ><button class="btn btn-success" >view order</button></a>
  </div>
</div>
  
  <%- include('../users/layouts/user-footer.ejs') %>
